In [11]:
import pandas as pd
import csv
import sqlite3
con = sqlite3.connect('C:\\Users\\cody\\Desktop\\global_temp.csv')
con1 = sqlite3.connect('C:\\Users\\cody\\Desktop\\delhi graph.csv')
temperature_df = pd.read_sql_query(
    select * FROM global_temp);
print(temperature_df.head())

SyntaxError: invalid syntax (<ipython-input-11-4f19212a2c3a>, line 6)