In [15]:
import pandas as pd
import csv
import sqlite3
con = sqlite3.connect('C:/Users/cody/Desktop/project1/gobal_temp.csv')
temperature_df = pd.read_sql_query(
    select*FROM global_temp;
    select*FROM local_temp
    Where city ='Delhi' And country ='india';)
    
    print(temperature_df.head())

SyntaxError: invalid syntax (<ipython-input-15-bec244dfabee>, line 6)